Repository Slorq/SwiftRoonAPI: changes, and which Codecov flags are due for each by the changed paths.
All: Core, SwiftRoonAPI, TransportAPI

codecov.yml:

component_management:
  individual_components:
    - component_id: core  # this is an identifier that should not be changed
      name: Core  # this is a display name, and can be changed freely
      paths:
        - SwiftRoonAPICore
    - component_id: swift-roon-api  # this is an identifier that should not be changed
      name: SwiftRoonAPI  # this is a display name, and can be changed freely
      paths:
        - SwiftRoonAPI
    - component_id: transport-api  # this is an identifier that should not be changed
      name: TransportAPI  # this is a display name, and can be changed freely
      paths:
        - TransportAPI

Cleanup workflows
  .github/workflows/ci.yml
Due: none

Refactor sendrequest to be async
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonCore.swift
  SwiftRoonAPI/Tests/Mocks/RoonExtensionRegInfoMocks.swift
  SwiftRoonAPI/Tests/Mocks/SubscriptionBodyMocks.swift
  SwiftRoonAPI/Tests/Moo/MooEncoderTests.swift
  SwiftRoonAPI/Tests/Persistence/PersistenceTests.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Extensions/Encodable.swift
  TransportAPI/TransportAPI/Models/Mute.swift
  TransportAPI/TransportAPI/Models/ZoneSeek.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: Core, SwiftRoonAPI, TransportAPI

Transport pauseAll
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

Test RoonTransportAPI
  .sourcery.yml
  Package.swift
  Sourcery/Templates/AutoMockable.stencil
  SwiftRoonAPI/SwiftRoonAPI/Models/Moo/Moo.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/Moo/MooDecoder.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/Moo/MooEncoder.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/SubscriptionMessageHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Mocks/Generated/AutoMockable.generated.swift
  SwiftRoonAPI/Tests/Moo/MooEncoderTests.swift
  SwiftRoonAPI/Tests/Moo/MooTests.swift
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
  SwiftRoonAPICore/Mocks/Generated/AutoMockable.generated.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Models/MooMessage.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Models/RoonCore.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Models/RoonServiceName.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Protocols/Moo.swift
  SwiftRoonAPICore/Tests/Mocks/Generated/AutoMockable.generated.swift
  TransportAPI/Tests/Mocks/Generated/AutoMockable.generated.swift
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/RoonOutput.swift
  TransportAPI/TransportAPI/Models/RoonState.swift
  TransportAPI/TransportAPI/Models/RoonZone.swift
  TransportAPI/TransportAPI/Models/TransportRequest.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: Core, SwiftRoonAPI, TransportAPI

Update package
  Package.swift
Due: none

Always run core tests
  .github/workflows/ci.yml
Due: none

Update ci workflow
  .github/workflows/ci.yml
Due: none

Update RoonOutput
  TransportAPI/TransportAPI/Models/RoonOutput.swift
Due: TransportAPI

Add mute to RoonTransportAPI
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/MuteOutputRequest.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

Add changeVolume
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/ChangeVolume.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

Add transfer zone to TransportAPI
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/RoonIdentifiable.swift
  TransportAPI/TransportAPI/Models/TransferZoneRequest.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI standBy
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI toggleStandBy
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI convenienceSwitch
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI groupOutputs
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/GroupOutputsRequest.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI ungroupOutputs
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

Remove build from ci workflow
  .github/workflows/ci.yml
Due: none

TransportAPI changeSettings
  SwiftRoonAPICore/SwiftRoonAPICore/Extensions/JSONEncoder.swift
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/ChangeSettingsRequest.swift
  TransportAPI/TransportAPI/Models/RoonZone.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: Core, SwiftRoonAPI, TransportAPI

TransportAPI subscribeOutputs
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/SubscribeOutputsResponse.swift
  TransportAPI/TransportAPI/Models/SubscribeZonesResponse.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI subscribeQueue
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/DisplayLines.swift
  TransportAPI/TransportAPI/Models/QueueItem.swift
  TransportAPI/TransportAPI/Models/RoonZone.swift
  TransportAPI/TransportAPI/Models/SubscribeQueueRequest.swift
  TransportAPI/TransportAPI/Models/SubscribeQueueResponse.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI playFromHere
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/Models/PlayFromHereRequest.swift
  TransportAPI/TransportAPI/Models/QueueItem.swift
  TransportAPI/TransportAPI/Models/TransportRequestName.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI zoneByZoneID
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI zoneByOutputID
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

TransportAPI zoneByObjectID
  TransportAPI/Tests/RoonTransportAPITests.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: TransportAPI

Exclude Mocks from coverage
  .github/workflows/ci.yml
Due: none

Udpate ci workflow to remove cache and changes
  .github/workflows/ci.yml
Due: none

Restore cache
  .github/workflows/ci.yml
Due: none

Reorder files
  SwiftRoonAPI/SwiftRoonAPI/Models/PairingServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/Moo.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/MooDecoder.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/MooEncoder.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/MooTransport.swift
  SwiftRoonAPI/SwiftRoonAPI/Sood/Sood.swift
Due: SwiftRoonAPI

Sood tests
  .swiftpm/xcode/xcshareddata/xcschemes/SwiftRoonAPI-Package.xcscheme
  SwiftRoonAPI-Package.xctestplan
  SwiftRoonAPI/SwiftRoonAPI/Models/SoodMessage.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/MulticastInterace.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/NetworkInterfacesProvider.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/UnicastInterface.swift
  SwiftRoonAPI/SwiftRoonAPI/Sood/Sood.swift
  SwiftRoonAPI/SwiftRoonAPI/Sood/SoodMessageParser.swift
  SwiftRoonAPI/Tests/Mocks/InterfacesProviderMock.swift
  SwiftRoonAPI/Tests/Sood/SoodMessageParserTests.swift
  SwiftRoonAPI/Tests/Sood/SoodTests.swift
Due: SwiftRoonAPI

Test stop sood
  SwiftRoonAPI/SwiftRoonAPI/Networking/SocketFacade.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/SocketFactory.swift
  SwiftRoonAPI/SwiftRoonAPI/Sood/Sood.swift
  SwiftRoonAPI/Tests/Mocks/SocketFactoryMock.swift
  SwiftRoonAPI/Tests/Sood/SoodTests.swift
Due: SwiftRoonAPI

Test query service
  SwiftRoonAPI/Tests/Sood/SoodTests.swift
Due: SwiftRoonAPI

Test sockets
  SwiftRoonAPI/Tests/Sood/SoodTests.swift
Due: SwiftRoonAPI

Add RoonAPITests
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/SwiftRoonAPI/Sood/Sood.swift
  SwiftRoonAPI/Tests/Mocks/Generated/AutoMockable.generated.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Test pairing service initialized
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

RoonAPI test cases
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Rename Moo
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonServiceSpecs.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/SubscriptionMessageHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/Moo.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/RegisteredServiceHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Moo/MooTests.swift
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
  SwiftRoonAPICore/Mocks/Generated/AutoMockable.generated.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Models/RoonCore.swift
  SwiftRoonAPICore/SwiftRoonAPICore/Protocols/_Moo.swift
  SwiftRoonAPICore/Tests/Mocks/Generated/AutoMockable.generated.swift
  TransportAPI/Tests/RoonTransportAPITests.swift
Due: Core, SwiftRoonAPI, TransportAPI

Cleanup
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonExtensionDetails.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonOptions.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonService.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonServiceSpecs.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Mocks/RoonExtensionRegInfoMocks.swift
  SwiftRoonAPI/Tests/Moo/MooEncoderTests.swift
Due: SwiftRoonAPI

Rename
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonExtensionCompleteDetails.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonExtensionDetails.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonOptions.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Mocks/RoonExtensionRegInfoMocks.swift
  SwiftRoonAPI/Tests/Moo/MooEncoderTests.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Refactor registry
  SwiftRoonAPI/SwiftRoonAPI/Models/RegisteredService.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/RegisteredServiceHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Refactor subscriptions
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonServiceName.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonServiceSpecs.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/RegisteredServiceHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
Due: SwiftRoonAPI
