Repository Slorq/SwiftRoonAPI: changes, and which Codecov flags are due for each by the changed paths.
All: Core, SwiftRoonAPI, TransportAPI

Refactor pairing service
  SwiftRoonAPI/SwiftRoonAPI/Models/PairingServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/ServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
Due: SwiftRoonAPI

Remove service registry
  SwiftRoonAPI/SwiftRoonAPI/Models/PairingServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RegisteredService.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/ServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: SwiftRoonAPI, TransportAPI

Rename service
  SwiftRoonAPI/SwiftRoonAPI/Models/PairingServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonService.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/RegisteredServiceHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
  TransportAPI/TransportAPI/RoonTransportAPI.swift
Due: SwiftRoonAPI, TransportAPI

Refactor
  SwiftRoonAPI/SwiftRoonAPI/Models/PairingServiceRegistry.swift
  SwiftRoonAPI/SwiftRoonAPI/Models/RoonService.swift
  SwiftRoonAPI/SwiftRoonAPI/Networking/RegisteredServiceHandler.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
Due: SwiftRoonAPI

Rename
  SwiftRoonAPI/Tests/Networking/RegisteredServiceHandlerTests.swift
Due: SwiftRoonAPI

Test register
  SwiftRoonAPI/SwiftRoonAPI/Moo/Moo.swift
  SwiftRoonAPI/SwiftRoonAPI/Moo/MooTransport.swift
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/Mocks/Generated/AutoMockable.generated.swift
  SwiftRoonAPI/Tests/Moo/MooTests.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
  SwiftRoonAPICore/Tests/Mocks/Generated/AutoMockable.generated.swift
Due: Core, SwiftRoonAPI

Test unrecognized subservice
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Test on sood connection close
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Test unrecognized service request sends invalid request response
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Cleanup
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
Due: SwiftRoonAPI

Test on sood error
  SwiftRoonAPI/SwiftRoonAPI/RoonAPI.swift
  SwiftRoonAPI/Tests/RoonAPITests.swift
Due: SwiftRoonAPI

Path conditions:
  Core: any of: SwiftRoonAPICore
  SwiftRoonAPI: any of: SwiftRoonAPI
  TransportAPI: any of: TransportAPI
